:root {
    --soft-blue: #8BACD9;
    --cyan: #00fff7;
    --cyan-transparent: #00fff750;
    --very-dark-blue-main: #0D192C;
    --very-dark-blue-card: #15263F;
    --very-dark-blue-line: #2E405A;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', serif;
    min-block-size: 100vh;
    background-color: var(--very-dark-blue-main);
    display: grid;
    place-content: center;
}

img {
    inline-size: 100%;
    block-size: auto;
}

.card {
    max-inline-size: 350px;
    padding: 24px;
    border-radius: 15px;
    background-color: var(--very-dark-blue-card);
}

.card__img {
    display: flex;
    position: relative;
    margin-block-end: 24px;
}

.card__img>img {
    border-radius: 8px;

}

.card__view {
    display: grid;
    position: absolute;
    place-content: center;
    inline-size: 100%;
    block-size: 100%;
    top: 0;
    background-color: var(--cyan-transparent);
    border-radius: 8px;
    opacity: 0;
}

.card__view img {
    inline-size: 48px;
    block-size: 48px;
}

.card__view:hover {
    opacity: 1;
    cursor: pointer;
}


.card__title {
    font-size: 1.5rem;
    color: var(--white);
    margin-block-end: clamp(12px, 3vw, 16px);
}

.card__title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: var(--soft-blue);
    margin-block-end: clamp(16px, 3vw, 24px);
}

.card__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-end: clamp(16px, 3vw, 24px);
    margin-block-end: 16px;
    border-block-end: 1px solid var(--very-dark-blue-line);
}

.card__value {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--cyan);
    font-weight: 600;
}

.card__value>img {
    inline-size: 11px;
}

.card__time {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--soft-blue);
}

.card__time>img {
    inline-size: 16px;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--soft-blue);
    font-size: 15px;
}

.card__author img {
    inline-size: 33px;
    block-size: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card__name {
    color: var(--white);
}

.card__name:hover {
    cursor: pointer;
    color: var(--cyan);
}